<form class="form" [formGroup]="defaultForm" (ngSubmit)="save()">
    <div class="form__firstName">
        <label>
            First Name
            <input type="text" placeholder="press first name..." formControlName="firstName" />
        </label>
    </div>
    <div class="form__lastName">
        <label>
            Last Name
            <input type="text" formControlName="lastName"  />
        </label>
    </div>

    <div formGroupName="emailGroup">
        <div class="form__email">
            <label>
                E-mail
                <input type="email" formControlName="email" [ngClass]="{'is-invalid': defaultForm.get('emailGroup').errors || ((defaultForm.get('emailGroup.email').touched || defaultForm.get('emailGroup.email').dirty) && !defaultForm.get('emailGroup.email').valid )}"/>
            </label>
            <span *ngIf="defaultForm.get('emailGroup.email').errors?.required">
                Please press your email address
            </span>
        </div>
        <div class="form__email form__confirm-email">
            <label>
                confirm e-mail
                <input type="email" formControlName="confirmEmail"  />
            </label>
            <span *ngIf="defaultForm.get('emailGroup.confirmEmail').errors?.required">
                Please confirm your email address
            </span>
            <span *ngIf="defaultForm.get('emailGroup').errors?.match">
                The confirmation does not match with the email address
            </span>
        </div>
    </div>

    <div class="form__phone">
        <label>
            Phone
            <input type="text" formControlName="phone"  />
        </label>
    </div>
    <div class="form__notification">
        <label>
            Text
            <input type="radio" value="text" formControlName="notification" (click)="setNotification('text')"  />
        </label>
        <label>
            E-mail
            <input type="radio" value="email" formControlName="notification" (click)="setNotification('email')"  />
        </label>
    </div>
    <div class="form__rating">
        <label>
            rating
            <input type="number" formControlName="rating"  />
        </label>
        <span *ngIf="defaultForm.get('rating').errors?.range">
            Please rate your experience from 1 to 5
        </span>
    </div>
    <div class="form__submit">
        <input type="submit" />
    </div>

</form>